* {
	margin:0;
	padding:0;
	font-size: 22px;
}
body  {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:black url(images/monastary.jpg) no-repeat center bottom;
	color: #ffffff;
}
a {
	color:#ff9c00;
	text-decoration:none;
}
a:hover {
	color:#ff9c00;
	text-decoration:none;
}
#container { 
	width: 100%; 
} 
#header {
	width:100%; 
}
.logoBackground {
	width:1050px;
	color:#000000;;
	margin: 0 auto;
}
.logo {
	width:1050px;
	color:#000000;
	font-size:130px;
	padding:0 0 0 0;
	font: SonicCutThru Hv BT;
	text-align:center;
}
.logo a{
	width:1050px;
	color:#000000;;
	font-size:150px;
}

.menu {
	background:url(images/sdtile.jpg) repeat-x top center;
	height:84px;
	width:100%;
	margin: 0 auto;
	font:Haettenschweiler;
}
.menu ul {
	margin:0;
	padding-top:20px;
	text-align:center;
}
.menu li {
	list-style:none;
	display:inline;
	padding:20px 15px 0 15px;
	text-align:center;
}
.menu li a {
	color:#ffffff;
	font-size:28px;
	text-decoration:none
	text-align:center;
}
.menu li a:hover {
	color:#ffffff;
	font-size:32px;
	text-decoration:underline;
	
}
.menu #active a {
	color:#ffffff;
	font-size:24px;
	text-decoration:line-through;
}
.allContent {
	width:800px;
	margin:0 auto;
	padding:0 0 0 0;
	
}

.description{
	margin:0 auto;
	padding:50px 0 100px 0;
	font-size: 24px;
	text-align:center;
	color:#960018;
	font:Franklin Gothic Heavy;
	
	
}
.leftContent {
	
	width:700px;
	margin: 0 auto;

}

#player{
	padding-left:200px;
}
#footer {
	text-align:center;
	color:#707070;
	padding:30px 0;
} 
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

